body {
  background-color: #e1e6cf;
}
/* Header-navbar */
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4278f5;
  width: 100%;
  height: 60px;
}

.header-text {
  text-align: center;
  color: #f7f9fc;
  margin: auto;
}

.header-icon {
  margin: 10px;
}

.header-icon-acc:hover {
  background-color: #f7f9fc;
  border-radius: 11px;
}

/* Login page */

.login-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  /* box-shadow: 2px 2px 5px 5px #eee; */
  border-radius: 10px;
  background-color: #ffffff;
}

.login-content:hover {
  box-sizing: border-box;
  box-shadow: 1px 1px 4px 4px #ccc;
}

.title-login {
  margin: 15px;
  font-size: 2rem;
}

.login-submit-button {
  margin: 15px;
}

.login-forget {
  text-decoration: none;
  color: blue;
}

.login-signup-para > span > a {
  text-decoration: none;
  color: blue;
}

.login-signup-para,
.login-forget {
  padding: 5px;
}

.login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* Home page */

/* .landing-page {
  width: 100%;
  height: calc(100%-60px);
  background-color: aqua;
} */

.url-input {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 4rem;
  border-bottom: 1px solid;
}

.UrlList {
  display:flex;
  flex-direction: row;
  justify-content: start;
  padding: 20px 60px;
}

.card{
  text-align: center;
}

/* Sign up */

.signup-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  /* box-shadow: 2px 2px 5px 5px #eee; */
  border-radius: 10px;
  background-color: #ffffff;
}

.signup-content:hover {
  box-sizing: border-box;
  box-shadow: 1px 1px 4px 4px #ccc;
}

.title-signup {
  margin: 15px;
  font-size: 2rem;
}

.signup-submit-button {
  margin: 15px;
}

.signup-forget {
  text-decoration: none;
  color: blue;
}

.signup-signup-para > span > a {
  text-decoration: none;
  color: blue;
}

.signup-signup-para,
.signup-forget {
  padding: 5px;
}

.signup-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* Forget page */

.forget-content {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 50px;
}

.forget-title {
  margin: 10px;
}

.forget-footer {
  padding: 5px;
  margin: 5px;
}

/* Reset page */

.reset-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.reset-title {
  margin: 10px;
}

.reset-footer {
  padding: 5px;
  margin: 5px;
}
